---
export const prerender = true;

import "../styles/base.css"
import "../styles/core.css"
import "../styles/structural.css"
import "../styles/typography.css"
import "../styles/components.css"
import "../styles/responsive.css"
import "../styles/normalise.css"

import Header from '../layouts/header.astro';
import Head from '../layouts/head.astro';
import Footer from '../layouts/footer.astro';

import InformationMD from '../content/information.md';
---

<html lang="en">
<Head
    title="tstfie - About"
    description="About tstfie."
    canonical="https://www.tstfie.ch/about"
/>
<body>
  <container class="padding">
	{/*// Header //*/}
    <Header>
      <div class="projects-nav">
        <a href="/?projects=open" class="navigation view-projects">View projects</a>
        </div>
      <a href="/" onclick="event.preventDefault(); history.back();" class="navigation">Back</a>
    </Header>

	{/*// Main content //*/}
    <section class="window contact">
      <InformationMD/>
    </section>
    {/*// Footer component //*/}
	<Footer/>
  </container>
</body>
</html>