---
export const prerender = true;

import "../styles/base.css"
import "../styles/core.css"
import "../styles/structural.css"
import "../styles/typography.css"
import "../styles/components.css"
import "../styles/responsive.css"
import "../styles/normalise.css"

import Head from '../layouts/head.astro';
import Header from '../layouts/header.astro';
import Footer from '../layouts/footer.astro'

import PrivacyMD from '../content/privacy-policy.md';
---

<html lang ="en">
<Head
    title="tstfie"
    description="Privacy policy for tstfie.ch"
    canonical="https://www.tstfie.ch/privacy"
/>
<body>
  <container class="padding">
    <Header>
      <div class="projects-nav">
        <a href="/?projects=open" class="navigation view-projects">View projects</a>
        </div>
      <a href="/" onclick="event.preventDefault(); history.back();" class="navigation">Back</a>
    </Header>
    <section class="window contact">
      <PrivacyMD/>
    </section>
    <Footer/>
  </contaner>
</body>
</html>